*{
    box-sizing: border-box;
    
}

.top-part{
    border-bottom: 1px solid #716052;
    width:90%;
    
}

h1{
    border-bottom: 1px solid #716052;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.left-panel, .right-panel, .middle-panel{
    border-bottom: 1px solid transparent;
    display: block;
    height: 300px;
}

.filters *{
    margin:5px;
}


.table table-striped books{
    margin-left: 2%;
    margin-right:2%;
    width: 100%;
}

.book-upsert{
    border-right: 1px solid #716052;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
}